@charset "utf-8";

body {
  font:100% sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
  background: #222;
}

h1,h2,h3,h4,h5,li,a,p {
  font-family: 'Consolas', cursive;
  color: #DDD;
}

h1 {
  margin : 10px 0;
  text-align : center;
  font-size: 400%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 120%;
}

h5 {
  font-size: 100%;
}

ul {

}

li {
  color: #DDD;
}

a:link {
  color: #F7B;
}

a:visited {
  color: #29F;
}

a:active {color:#630;}
a:hover {color:#630;}


.page{
  width: 800px;
  margin:20px auto;
  padding:0 20px 0 20px;
  border: 3px solid #DDD;
  background: #222;
}

header {
  margin:20px auto;
  width: 800px;
  position:relative;
}

table {
  border : solid;
  border-collapse : collapse;
  color : #310;
}

tr {
  padding : 5px;
  border : 1px solid;
  color : #310;
}

td {
  padding :2px 10px;
  border : #310 1px solid;
  color : #000;
  background : #eed;
}

td#qualify{
  background : #fea;
}

th {
  font-family: 'Keania One', cursive;
  padding :2px 10px;
  border : #310 1px solid;
  color : #fb9;
  background : #310;
}

footer {
  margin : 0 -20px -18px -19px;
  padding : 0;
  background : #666;
  color : #fff;
  text-align : center;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  font-family: 'Keania One', cursive;
}

.menu li {
  display: inline;
  padding: 0;
  margin: 0;
  float: left;
}

.menu a {
  display: block;
  border: 1px solid #310;
  background-color : #ffffff;
  padding: 3px;
  text-decoration: none;
  color: #310;
  width: 120px;
  margin: 1px;
  text-align: center;
}

.menu a:hover {
  background: #310;
  color: #fff;
}
